<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/demo.css">
</head>

<body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <!-- <a class="navbar-brand navbar-logo">Inflammatory Skin disease detection</a> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Terms of Use</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">About</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="container">
        <h1>প্রদাহজনক ত্বকের রোগ সনাক্তকরণ সাইটে স্বাগতম</h1>
        <form method="post" enctype="multipart/form-data">
            <label><input type="file" name="imageFile1" capture="user" accept="image/*">Take a Picture</label>
            <p>OR </p>
            <label><input type="file" name="imageFile2" accept="image/*">Select From Gallery</label>
            <button class="btn btn-info btn-block" type="submit">Classify Disease </button>
        </form>
        <img src="../static/images/derm.png" height="500px" >
        <br>
        <p>Predicted Skin Disease: {{predictions}}</p>
    </div>
</body>

</html>