<!DOCTYPE html>
<html>
<head>
    <title>নির্দেশাবলী</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="{{url_for('home')}}">হোম</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
            </ul>

            {% if current_user.is_active %}
            <a class="navbar-brand" style="display: inline-block; float: right" href="{{url_for('view_profile')}}">স্বাগত {{current_user.username}}</a>
            {% endif %}
            <div class="form-inline my-2 my-lg-0">
                <a href="{{url_for('logout')}}" class="btn btn-danger">লগআউট করুন</a>
            </div>
        </div>
    </nav>

    <div class="container-sm" style="min-height: 100vh;">
        <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
            <h1 class="text-center mb-6">ছবি আপলোড করার নির্দেশাবলী</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">আপনার ক্যামেরা ব্যবহার করে আপনার রোগের একটি ছবি তুলুন</li>
                <li class="list-group-item">ব্যাকগ্রাউন্ডে কোন কিছু নেই তা নিশ্চিত করুন</li>
                <li class="list-group-item">নিশ্চিত করুন যে প্রভাবিত স্থানটি স্পষ্টভাবে দৃশ্যমান হয় যদি প্রয়োজন হয়
                    তবে ছবিটি ক্রপ করুন</li>
                <li class="list-group-item">এবার ছবিটি আপলোড করুন</li>
                <li class="list-group-item">এখন রোগের পূর্বাভাস দিতে "রোগ শনাক্ত করুন" বাটন টিপুন</li>
                <li class="list-group-item">
                    উদাহরণ <br>
                    <img src="../static/images/Acne2.jpg" alt="" class="img-fluid" height="300px" width="300px">
                    <img src="../static/images/Eczema2.jpg" alt="" class="img-fluid" height="300px" width="300px">
                    <img src="../static/images/Psoriasis3.jpg" alt="" class="img-fluid" height="300px" width="300px">
                </li>
                <li class="list-group-item d-flex justify-content-center">
                    <a href="{{url_for('home')}}" class="btn btn-success btn-lg">ঠিক আছে</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
