<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/becteria.png">
    <link rel="stylesheet" type="text/css" href="../static/css/view_profile.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>প্রোফাইল</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a href="{{ url_for('home') }}" id="back"><img src="../static/images/back button.png" id="backbtn"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
    </nav>
    <div class="container-sm" style="min-height: 100vh;">
        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <table id="info">
                <tr>
                    <th>নাম:</th>
                    <td>{{user.name}}</td>
                </tr>
                <tr>
                    <th>ব্যবহারকারী আইডি:</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>ই-মেইল:</th>
                    <td>{{user.email}}</td>
                </tr>
            </table>
            <a id="info" class="btn btn-outline-success" href="{{ url_for('edit_profile')}}">প্রোফাইল পরিবর্তন করুন</a>
        </div>
    </div>
</body>
</html>